* { /*todo o projeto vai ter essas config*/
    font-family: 'Open Sans';
}

/*configuração geral*/
body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: #F2A340;
    border: 2px solid #C28008;
}

.btn-primary:hover{
    background-color: #C28008;
    border: 2px solid #C28008;
}

.msg{
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

/*configuração navbar*/
#navbar img {
    width: 30px;
}

#navbar {
    justify-content: space-between;
    background-color: #fff;
   /* padding: 5px 0;*/
}

#navbar a:hover {
    color: #37a4e4ef;
}

/*Search container
#search-container {
    background-image: url(../img/img3.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}*/




/*imagem parada enquanto desce*/
#search-container {
    background-image: url(../img/img3.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1{
   /* color: #fff;*/
   margin-bottom: 30px;
   font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

/*Lista de Eventos*/
#events-container {
    padding: 50px;
}

#events-container h2{
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
}

/*card*/
#events-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

/*imagem dentro do card*/
#events-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 14px;
    color: #ccc;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

/*container fomulário página create*/
#event-create-container{
    padding: 40px;
 }
 
 #event-create-container label{
     font-weight: bold;
  }
 
 #event-create-container input,
 #event-create-container select,
 #event-create-container textarea{
     font-size: 15px;
  }
  
/* Event page*/
#image-container, 
#info-container {
    margin-top: 30px;
}

#image-container img{
    border-radius: 10px;
}

#info-container h1{
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3, 
#description-container h3 {
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    color: #F2A340;
    margin-right: 5px ;
}

#info-container #event-submit {
    margin:20px 0;
}

#items-list {
    list-style: none;
    padding-left: 0;
}

#items-list li {
    display: flex;
}

#description-container {
    margin-top: 30px;
}

/*tabela do meus eventos - dashboard*/
.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;

}
.dashboard-events-container th {
    width: 25%;
}

/*botões dashboard */
.dashboard-events-container form {
    display: inline-block;
}


/*footer*/
footer{
    text-align: center;
    background-color: #353e48;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*para não deixar desproporcional*/
footer p {
    margin-bottom: 0;
}



/*SLIDER
.carousel-item{
    height: 600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.carousel-image-1{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)),
    url('../media/fundo\ 1.jpg');
    background-size: cover;
}
.carousel-image-2{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)),
    url('../media/fundo\ 2.jpg');
    background-size: cover;
}
.carousel-image-3{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4)),
    url('../media/fundo\ 9.jpg');
    background-size: cover;
}
*/